<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
    <section>    
            <li class="singleBookResult">
                <img class ="bookImage" src="<%= booksArray.thumbnail %>" />
                <p class = "bookTitle"><%= booksArray.title %></p>
                <p class="bookAuthor"><em><%= booksArray.author %></em></p>
                <p class="bookDescription"><%= booksArray.description %></p>
                <p class="bookISBN"><%= booksArray.isbn %></p>
                <form action="/" method="post"></form>
            </li>
            <a href="/searches/new">home</a>
    </section>
</body>
</html>